# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-log.txt
pip-delete-this-directory.txt
status.txt
.venv
venv/
ENV/

# Configuration
.env

# Project specific
static/

# Group IDs and Scheduler State
group_ids.txt
scheduler_state.json

# Local deploy folder
本機部署資料夾(以後更新皆須同步處理，目前是push版喔)/

